<div class="row">
	<div class="tab-content gama-text" style="line-height: 200%">
		<div id="home" class="tab-pane fade in active col-md-10 col-md-offset-1">
			<div class="gama-heading" style="text-align: center">Get GAMA</div>
			<div class="gama-text" style="font-style: italic">The download of the software will start in a short
				amount of time. If it does not work, please click
				in this <a href="https://code.google.com/p/gama-platform/wiki/G__Downloads">link</a>.
			</div>
			<div class="gama-text">
				During the download, we invite you to watch this video presenting quickly some functionnalities
				of the platform :
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="vid">
						<iframe width="560" height="315" src="//www.youtube.com/embed/tKTK-BPwGok"
								allowfullscreen="">

						</iframe>
					</div>
					<!--./vid -->
				</div>
				<!--.col -->
			</div>
			<div class="gama-text">
				Once the download is finished, please follow the quick following steps to install the software :
			</div>

			<div class="row">
				<div id="gamaSidebarExpander" class="list-group col-md-8 col-md-offset-2">
					<div class="panel-group padding-panel" id="accordion">
						<div class="panel panel-default panel-affix">
							<div class="btn-group btn-group-justified btn-group-raised">
								<div class="btn-group padded-table">
									<div class="sidebar-padded-table">
										<div class="sidebar-tc-fluid">
											<a href="#service" data-toggle="tab"
											   class="btn btn-material-blue sidebar-btn-material-gamacolor sidebar-radius-left text-left">
												<i>On MacOSX (Lion, Mountain Lion, Mavericks)</i>
											</a>
										</div>

										<div class="sidebar-tc-fixed">
											<a class="btn  btn-material-blue sidebar-btn-material-gamacolor sidebar-radius-right dropdown-toggle"
											   data-toggle="collapse" data-parent="#accordion"
											   data-target="#collapseMacOSXOldSchoolInstall">
												<span class="fa fa-caret-down"></span>
											</a>
										</div>
									</div>
								</div>
							</div>

							<div id="collapseMacOSXOldSchoolInstall" class="panel-collapse collapse">
								<div class="panel-body">
									<a href="#service" data-toggle="tab">qsdqsd</a>
								</div>
							</div>
						</div>

						<div class="panel panel-default panel-affix">
							<div class="btn-group btn-group-justified btn-group-raised">
								<div class="btn-group padded-table">
									<div class="sidebar-padded-table">
										<div class="sidebar-tc-fluid">
											<a href="#service" data-toggle="tab"
											   class="btn btn-material-blue sidebar-btn-material-gamacolor sidebar-radius-left text-left">
												<i>On MacOSX (Yosemite, El Capitan)</i>
											</a>
										</div>

										<div class="sidebar-tc-fixed">
											<a class="btn  btn-material-blue sidebar-btn-material-gamacolor sidebar-radius-right dropdown-toggle"
											   data-toggle="collapse" data-parent="#accordion"
											   data-target="#collapseMacOSXYosimiteInstall">
												<span class="fa fa-caret-down"></span>
											</a>
										</div>
									</div>
								</div>
							</div>

							<div id="collapseMacOSXYosimiteInstall" class="panel-collapse collapse">
								<div class="panel-body">
									<a href="#service" data-toggle="tab">qsdqsd</a>
								</div>
							</div>
						</div>

						<div class="panel panel-default panel-affix">
							<div class="btn-group btn-group-justified btn-group-raised">
								<div class="btn-group padded-table">
									<div class="sidebar-padded-table">
										<div class="sidebar-tc-fluid">
											<a href="#service" data-toggle="tab"
											   class="btn btn-material-blue sidebar-btn-material-gamacolor sidebar-radius-left text-left">
												<i>On Windows 64 bits</i>
											</a>
										</div>

										<div class="sidebar-tc-fixed">
											<a class="btn btn-material-blue sidebar-btn-material-gamacolor sidebar-radius-right dropdown-toggle"
											   data-toggle="collapse"
											   data-parent="#accordion" data-target="#collapseWindowsInstall">
												<span class="caret"></span>
											</a>
										</div>
									</div>
								</div>
							</div>

							<div id="collapseWindowsInstall" class="panel-collapse collapse">
								<div class="panel-body">
									<a href="#service" data-toggle="tab">qsdqsd</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="gama-notice">
				Please notice that, by default, Internet Explorer and Chrome browsers will download a 32 bits
				version of the JRE. Running
				GAMA 32 bits for Windows is ok, but you may want to download the latest JDK instead, in order to
				both improve the
				performances of the simulator and be able to run GAMA 64 bits.
			</div>
			<div class="gama-notice">
				To download the appropriate java version, follow this link: <a
					href="http://www.java.com/fr/download/manual.jsp"> Java download section</a>
			</div>
			<div class="gama-notice">
				Execute the downloaded file.
			</div>
		</div>
		<div id="menu1" class="tab-pane fade col-md-10 col-md-offset-1">
			<div class="gama-heading" style="text-align: center">GAMA in 5 minutes</div>
			<div class="gama-text">
				This 5 minutes tutorial will show you how to use the platform, how to write an easy model and
				how to run it.
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="vid">
						<iframe width="560" height="315" src="//www.youtube.com/embed/tKTK-BPwGok"
								allowfullscreen="">

						</iframe>
					</div>
					<!--./vid -->
				</div>
				<!--.col -->
			</div>
		</div>
	</div>
	<div id="menu2" class="tab-pane fade col-md-10 col-md-offset-1">
		<div class="gama-heading" style="text-align: center">What’s next ?</div>
		<div class="gama-text">
			Now you launched your first model, you want to learn more about GAMA. Here is a quick video to
			explain how to proceed.
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="vid">
					<iframe width="560" height="315" src="//www.youtube.com/embed/tKTK-BPwGok"
							allowfullscreen="">

					</iframe>
				</div>
				<!--./vid -->
			</div>
			<!--.col -->
		</div>
		<div class="row ">
			<div class="col-md-8 col-md-offset-2">
				<ul class="list-inline">
					<li>
						<a href="<?php echo base_url('getting_started'); ?>"
						   class="btn btn-lg">
							<!--<i class="fa fa-5x fa-rotate-left fa-rotate-180 fa-fw intro-header-icon"></i>-->
							<img src="<?php echo $assets_url ?>/img/gama_rotate_blue.svg">
							<span class="intro-header-btn">Get Started</span>
						</a>
					</li>
					<li>
						<a href="<?php echo base_url('getting_started'); ?>"
						   class="btn btn-lg">
							<!--<i class="fa fa-5x fa-rotate-left fa-rotate-180 fa-fw intro-header-icon"></i>-->
							<img src="<?php echo $assets_url ?>/img/gama_rotate_blue.svg">
							<span class="intro-header-btn">Get Started</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>